<!DOCTYPE html>

<head>
  <title>Hecklevision!</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/video-js_8.23.4.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/silvermine-videojs-chromecast_1.5.0.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/silvermine-videojs-airplay_1.3.0.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/videojs-hls-quality-selector_2.0.0.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='player.css') }}"/>
  <script src="{{ url_for('static', filename='vendor/video_8.23.4.min.js') }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  <div id="container">
    <div id="header">
      <p>
        Join <code>#heckle</code> in Slack and send messages to start heckling!
      </p>
      <p>
        If you don't have Slack, you can also <a href="/submit">submit messages</a>, or see the
        <a href="/messages?history">heckle history</a>.
      </p>
    </div>
    <div id="playerContainer">
      <div id="playerWrapper">
        <video id="video" class="video-js vjs-default-skin">
        </video>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='vendor/silvermine-videojs-chromecast_1.5.0.js') }}"></script>
  <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"></script>
  <script src="{{ url_for('static', filename='vendor/silvermine-videojs-airplay_1.3.0.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/videojs-contrib-quality-levels_4.1.0.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/videojs-hls-quality-selector_2.0.0.js') }}"></script>

  <script src="{{ url_for('static', filename='player.js') }}"></script>
</body>
